<h1>Home</h1>

<h2>Productos</h2>

<div class="container">
    {{#each serializedMessages}}
        <div class="card">
            <h3>{{ this.title }}</h3>
            <img src="{{ this.thumbnail }}" onerror="this.src='/asset/no-image.jpg'" alt="" / >
            <p>{{ this.description }}</p>
            {{#if this.price}}
                <span>Price: $ {{ price }}</span>
            {{else}}
                <span>Free</span>
            {{/if}}
        </div>
    {{/each}}
</div>